* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'inter', sans-serif;
    color: #000000;
}

.page-header{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 28px 0;

}
.header-logo {
    display: block;
}
.main-banner,
    .middle-banner{
        display: block;
    width: 100%;
}
.top-infocard{
    align-items: center;
    justify-content: center;
    padding: 80px 0 96px;
    margin: auto;
    text-align: center;

}
.top-infocard-text {
    max-width: 766px;
    margin-right: 124px;
    
}
.top-infocard-subtitle{
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    
}
.top-infocard-title{
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
    
}
.top-infocard-description {
    line-height: 24px;
    font-size: 16px;
}

.top-cards{
    display: grid;
    grid-template-columns:repeat(3,max-content);
    gap: 20px;
    justify-content: center;
    background: #f0f0f0;
    padding: 74px 0;
}
.top-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0,0,0, 0.23);
    max-width: 350px;
    padding: 26px 26px 34px;
}
.top-card-image{
    display: block;
    margin-bottom: 26px;
}

.top-card-description {
    max-width: 300px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
} 

.middle-banner-complete{
    display: flex;
    grid-template-columns:repeat(4,max-content);
    gap: 36px;
    width: 356px;
    height: 320px;
    margin-left: 94px;
    top: 2052px;
}

.bottom-cards{
    margin-top: 140px;
    background: #f0f0f0;

}
.bottom-cards-wrapper{
    position: relative;
    top: 20px;
    display: flex;
    grid-template-columns: repeat(4, max-content);
    gap: 10px;
    justify-content: center;
}
.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    padding: 36px 32px 66px;
}
.bottom-card-image{
    display: block;
    margin-bottom: 14px;
    

}
.bottom-card-description{
    max-width: 368px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}
.bottom-infocard{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:  142px 0 180px;
}
.bottom-infocard-image{
    width: 100%;
    
}
.bottom-infocard-text{
    max-width: 550px;
}
.bottom-infocard-title{
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1px;
}
.bottom-infocard-description{
    line-height: 24px;
    font-size: 16px;
}
.page-footer{
    display: flex;
    background: black;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
}
.footer-icons{
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}
.footer-icon{
    margin: 0 8px;
}
.footer-text{
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #bdbdbd;

}

@media screen and (max-width: 414px){
 .main-banner-desktop,
 .bottom-infocard-image,
 .middle-banner-desktop,
 .middle-banner-left{
     display: none;
 }
 .top-cards{
    flex-direction: column;
    
}
.middle-banner-complete{
    
  flex-direction: row;
  margin: 0;
    
}
.complete-mobile{
    width: 100%;
}
.bottom-cards-wrapper{
    flex-direction: column;
    top: 130px;
    margin-left: 0%;
    width: 100%;
}
.bottom-infocard-mobile{
    width: 100%;
    margin-bottom: 40px;
}

}
@media screen and (min-width: 415px){
    .main-banner-mobile,
    .bottom-infocard-mobile,
    .middle-banner-mobile,
    .complete-mobile{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .top-cards{
       display: flex;
        padding: 36px;
    }
    .bottom-cards{
        margin-top: 114px;
        padding: 0 26px;
    }
    .bottom-cards-wrapper{
        grid-template-columns: 1fr;
        
        gap: 16px;
    }
    .bottom-card-description{
        font-size: 14px;
    }
    .page-footer{
        padding-bottom: 26px;
    }
    .footer-text{
        max-width: 280px;
        text-align: center;
    }
    .middle-banner-complete{
        display: flex;
        grid-template-columns:repeat(3,max-content);
        gap: 36px;
        width: 220px;
        height: 220px;
        top: 2052px;
        margin-left: 0%;
    }
    }

    
    @media screen and (max-width: 992px){
       .top-infocard{
           flex-direction: column;
           padding: 84px 26px 158px;
       }
       .top-infocard-text{
        margin: 0 0 68px;
    }
       .top-infocard-subtitle{
           font-size: 20px;
           justify-content: center;
       }
       .top-infocard-title{
           margin-bottom: 20px;
           font-size: 28px;
       }
       .top-infocard-image{
           width: 100%;
           max-width: 240px;
       }
       .bottom-card{
        flex-direction: column;
        padding: 80px 0 136px;
    }
    .bottom-infocard-image{
        width: 100%;
        margin: 0 0 50px;
    }
    .bottom-infocard-title{
        font-size: 24px;
    }
    .bottom-infocard-text{
       padding: 0 26px;
    }
    .bottom-infocard{
    flex-direction: column;
    }
    
     }
     
     @media  and (min-width: 769px) and (max-width:1200px) {
        .top-cards {
            grid-template-columns: repeat(2, man-content);

        }
        
    }
    @media  and (min-width: 769px) and (max-width:992px) {
         .bottom-card-description{
             max-width: 280px;
         }
        }
     @media screen and (min-width:993px) and (max-width: 1280px){
         .top-infocard-text{
             max-width: 520px;
             margin-right: 70px;
         }
         .bottom-infocard-image{
             max-width: 480px;
         }
         .bottom-infocard-text{
             max-width: 400px;
         }
         .middle-banner-complete{
           width: 100%;
           justify-content: right;
           margin: 0%;
           
            
        }
      

    }
        
     
